<footer class="container pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="{{site.icon}}" style="max-width: 64px" >
            <small class="d-block mb-3 text-muted">version {{site.stable_version}} </small>
            <small class="d-block mb-3 text-muted">&copy; 2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>Links</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Getting Started</a></li>
                <li><a class="text-muted" href="#">Tutorials</a></li>
                <li><a class="text-muted" href="#">Documentation</a></li>
                <li><a class="text-muted" href="#">Github</a></li>
                <li><a class="text-muted" href="#">Support</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Resource</a></li>
                <li><a class="text-muted" href="#">Resource name</a></li>
                <li><a class="text-muted" href="#">Another resource</a></li>
                <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>