<ul>
    {% for item in site.data.menu %}
      <li>
        <a class="aMenu" href="{{ item.url }}">{{ item.title }}</a>
        {% if item.submenu %}
          <ul>
            {% for subitem in item.submenu %}
              <li>{{ subitem }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <script>
    const sublistItems = document.querySelectorAll('li ul');
    sublistItems.forEach(sublistItem => {
      sublistItem.style.display = 'none'; 
      sublistItem.parentElement.addEventListener('click', () => {
        sublistItem.style.display = sublistItem.style.display === 'none' ? 'block' : 'none';
      });
    });
  </script>