<nav class="main navbar navbar-expand-md  bd-navbar navbar-fixed-top">
    <a class="navbar-brand" href="/">
        <img alt="DynamiaTools" src="{{site.logo}}" class="logo img-fluid" />
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="bi bi-three-dots-vertical"></i>
    </button>

    <div class="collapse navbar-collapse" id="mainmenu">
        {% include nav.html %}

      
    </div>


</nav>