<ul class="navbar-nav ml-2 mr-auto">

    {% for item in site.data.navigation.nav %}

    {% if item.subnav %}

    <li class="nav-item dropdown">

        <a id="nav{{forloop.index}}" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"
            aria-haspopup="true" href="#">{{ item.title}}</a>

        <div class="dropdown-menu" aria-labelledby="nav{{forloop.index}}">
            {% for subitem in item.subnav%}
            <a class="dropdown-item" href="{{subitem.url}}">{{subitem.title}}</a>
            {% endfor %}
        </div>
    </li>

    {%else%}

    <li class="nav-item">
        <a class="nav-link" href="{{ item.url }}">{{ item.title}}</a>
    </li>

    {% endif %}

    {% endfor %}
</ul>

<ul class="navbar-nav navbar-nav flex-row flex-wrap ms-md-auto extras">
    <li class="navbar-item">
        <a class="navbar-link p-2 outline" target="_blank" href="{{ site.github.repository_url}}/blob/{{site.current_branch}}/{{page.path}}"> Edit this Page </a>
    </li>

    {% for item in site.data.navigation.extras %}
    <li class="navbar-item">
        <a class="navbar-link p-2" target="_blank" href="{{item.url}}" title="{{item.title}}"> <i class="bi bi-{{item.icon}}"></i> </a>
    </li>
    {% endfor %}

</ul>